.pendulum {
  position: relative;
  width: 120px;
  height: 160px;
  margin-top: 150px;
  background-color: bisque;
  top: 50%;
  left: 50%;
  border-radius: 5%;
  align-items: center;
  border-top: 15px solid grey;
  transform: translate(-50%, -50%);
}

.pendulum-box {
  display: flex;
  padding: 120px 0 0 10px;
  position: absolute;
  flex: 1;
}

div.pendulum .ball {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: grey;
  position: relative;
  transform-origin: 30% -500%;
}

div.pendulum .ball::before {
  content: "";
  width: 2px;
  height: 120px;
  background-color: black;
  left: 18px;
  top: -120px;
  position: absolute;
}

div.pendulum .ball.first {
  animation: first-ball 0.9s alternate ease-in infinite;
  animation-delay: 150ms;
}

@keyframes first-ball {
  0% {
    transform: rotate(35deg);
  }
  50% {
    transform: rotate(0deg);
  }
}

div.pendulum .ball.last {
  animation: last-ball 0.9s alternate ease-out infinite;
  animation-delay: 150ms;
}

@keyframes last-ball {
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-35deg);
  }
}
